@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#F1EBF7] text-gray-900 dark:bg-[#11071F] dark:text-gray-100;
}
.contact-icon {
  @apply w-14 h-14
    flex items-center justify-center
    rounded-full
    bg-gray-100 dark:bg-[#4F228D]/10
    text-2xl
    transition;
}

/* SAME GLOW FOR ALL ICONS */
.contact-icon:hover {
  box-shadow: 0 0 18px rgba(168, 85, 247, 0.45);
}

.nav-link {
  @apply relative transition;
}

.nav-link:hover {
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.6);
}

.theme-btn {
  @apply p-2 rounded-full bg-gray-200 dark:bg-gray-800 transition;
}

.theme-btn:hover {
  box-shadow: 0 0 14px rgba(168, 85, 247, 0.45);
}
